<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
    <header>
    <div class="container">
      <nav class="body-main clerafix">
        <span>Bookers</span>
      </nav>


      <nav class="header-contents">
        
          <% if user_signed_in? %>
        <li class="header-in">
          <%= link_to 'Home', new_user_path %></li>

        <li class="header-in">
          <%= link_to 'Users', users_path %></li>

        <li class="header-in">
          <%= link_to 'Books', books_path %></li>

        <li class="header-in">
          <%= link_to "logout", destroy_user_session_path, method: :delete %></li>

        <% else %>

        <li class="header-in">
          <%= link_to "Home", homes_path %></li>

        <li class="header-in">
          <%= link_to "About", new_home_path %></li>

        <li class="header-in">
          <%= link_to "Sign up", new_user_registration_path %></li>

        <li class="header-in">
          <%= link_to "log in", new_user_session_path %></li>

        <% end %>
      
    </nav>
    </div>
    </header>
    
    <%= yield %>
  
</html>
